[MESSAGES CONTROL]
disable=unsubscriptable-object,invalid-name
# unsubscriptable-object: Flake8 does not like use of square brackets with type hints.
# invalid-name: 1/2-letter and camelcase variables do not conform to snakecase style
